.foot{
    padding-top: 20px;
    height: 900px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 5px;
    margin-left: 20px;


}
.foot h3{
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
}
.place{
    position: relative;
    left: 450px;
    top: 20px;
}

.place input{
    background-color: white;
    color: black;
    text-decoration: none;
}

.place button{
    background-color: antiquewhite;
    color: black;
}


.foot1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
    line-height: 30px;
    
    
}

.what{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
    
}
.face i{
    color: white;
    font-size: 30px;
    gap: 50px;


}

.what ul li{
    text-decoration: underline;
    line-height: 25px;
}

//...................responsive footer............
@media screen and (max-width:600px) {
.foot {
       display: none;
    }
        
    }
