/*................1st navbar.............*/
.nevbar {
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    gap: 70px;
    flex-wrap: wrap-reverse;
    font-style: none;
    align-items: center;
    color: rgb(96, 37, 151);
    
}

.nevbar h4 {
    color: darkblue;
    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

@keyframes slide {
    to {
        left: -10px;
        top: 0px;
    }

    from {
        top: 0;
        left: 100px;
    }
}

.nevbar ul {
    display: flex;
    position: relative;
    left: 80px;
    gap: 20px;
    align-items: center;
}

/*..............2nd bars.............*/
.bars {
    height: 50px;
    width: 100%;
    background-color: rgb(242, 238, 238);
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.bars ul {
    display: flex;
    position: absolute;
    left: 1000px;
    gap: 20px;
}

.bars h1 {
    position: absolute;
    left: 600px;
    color: rgb(243, 13, 13);
    font-family: initial;
}

.bars h1:hover {
    color: blueviolet;
}

.bars img {
    position: absolute;
    top: 50px;
    left: 40px;}

    /*.............ali ..............*/

.ali ul {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ali {
    display: none;
}

/*.............list...........*/
.list label {
    display: none;
}

.list label i {
    color: blue;
}

.list ul li {
    display: none;
}

/*checkbox hatane ke liye*/
#demo {
    display: none;
}

/*icon ko click karne par open hone wali list ko target karne ke liye*/
#demo:checked~.list ul li {
    display: block;
}


/*.............responsive navebar...................*/
@media screen and (max-width:600px) {
    .nevbar ul {
        display: none;
    }
    
.bars1 details summary {
        display: none;
    }

    .bars h1 {
        position: relative;
        left: 200px;
        top: 10px;
      
        font-size: 20px;
    }

    .list ul {
        display: block;
        position: absolute;
        top: 120px;
        
    }

    .list label {
        display: block;
        position: absolute;
        top: 80px;
        left: 20px;
    }

    .ali {
        display: block;
        position: absolute;
        top: 70px;
        left: 300px;
    }

    .bars ul {
        display: none;
    }
   
}

/*....................sona bars1............*/
.bars1 {
    background-color: rgb(242, 238, 238);
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
    height: 50px;
}

.bars1 details summary:hover {
    color: rgb(236, 16, 16);
}

@mixin grid{background-color: white;
    flex-wrap: wrap-reverse;
    border: 0.5px;
    box-shadow: 2px 3px 5px black;
}

.ch {
    @include grid
}

.parent {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 100%;
    flex-wrap: wrap-reverse;
    display: grid;
    font-style: initial;
    grid-template-columns: repeat(6, auto);
  }

.parent h3 {
    color: rgb(245, 164, 164);
}

.ch ul {
    color: rgb(91, 101, 112);
    line-height: 40px;
}

.son {
    @include grid
}

.papa {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 1350px;
    flex-wrap: wrap-reverse;
    display: grid;
    font-style: initial;
     grid-template-columns: repeat(5, auto);
 
}

.papa h3 {
    color: rgb(241, 196, 196);
}

.son ul {
    color: lightslategray;
    line-height: 40px;
}


.wo {
    @include grid
}

.wom {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 1350px;
    flex-wrap: wrap-reverse;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.wom h3 {
    color: rgb(241, 196, 196);
}

.wo ul {
    color: lightslategray;
    line-height: 40px;
}


.of {
    @include grid
}

.off {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 1350px;
    flex-wrap: wrap-reverse;
    display: grid;
    grid-template-columns:200px 200px;
}

.off h3 {
    color: rgb(241, 196, 196);
}

.of ul {
    color: lightslategray;
    line-height: 40px;
}


.ab1 {
    @include grid  
}

.ab {
    width: 1350px;
    flex-wrap: wrap-reverse;
    display: grid;
    position: absolute;
    top: 180px;
    left: 20px;
    grid-template-columns:200px;
}

.ab1 ul {
    color: lightslategray;
    line-height: 40px;
}

/*...................grid responsive..........*/
@media screen and (max-width:600px) {
    @mixin grid{
        grid-template-columns: 200px;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        top: 250px;

    }
    .parent{
        @include grid
    }

    .papa{
        @include grid
    }

    .wom{
        @include grid
    }

    .off{
        @include grid
    }

    .ab{
        @include grid
    }


}

