* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*................1st navbar.............*/
.nevbar {
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  gap: 70px;
  flex-wrap: wrap-reverse;
  font-style: none;
  align-items: center;
  color: rgb(96, 37, 151);
}

.nevbar h4 {
  color: darkblue;
  position: relative;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  to {
    left: -10px;
    top: 0px;
  }
  from {
    top: 0;
    left: 100px;
  }
}
.nevbar ul {
  display: flex;
  position: relative;
  left: 100px;
  gap: 30px;
  align-items: center;
}

/*..............2nd bars.............*/
.bars {
  height: 50px;
  width: 100%;
  background-color: rgb(242, 238, 238);
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.bars ul {
  display: flex;
  position: absolute;
  left: 1000px;
  gap: 20px;
}

.bars h1 {
  position: absolute;
  left: 600px;
  color: rgb(243, 13, 13);
  font-family: initial;
}

.bars h1:hover {
  color: blueviolet;
}

.bars img {
  position: absolute;
  top: 50px;
  left: 40px;
}

/*.............ali ..............*/
.ali ul {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ali {
  display: none;
}

/*.............list...........*/
.list label {
  display: none;
}

.list label i {
  color: blue;
}

.list ul li {
  display: none;
}

/*checkbox hatane ke liye*/
#demo {
  display: none;
}

/*icon ko click karne par open hone wali list ko target karne ke liye*/
#demo:checked ~ .list ul li {
  display: block;
}

/*.............responsive navebar...................*/
@media screen and (max-width: 600px) {
  .nevbar ul {
    display: none;
  }
  .bars1 details summary {
    display: none;
  }
  .bars h1 {
    position: relative;
    left: 200px;
    top: 10px;
    flex-wrap: wrap-reverse;
    font-size: 20px;
  }
  .list ul {
    display: block;
    position: absolute;
    top: 120px;
    left: -20px;
    color: blueviolet;
  }
  .list label {
    display: block;
    position: absolute;
    top: 80px;
    left: 20px;
  }
  .ali {
    display: block;
    position: absolute;
    top: 70px;
    left: 300px;
  }
  .bars ul {
    display: none;
  }
}
/*....................sona bars1............*/
.bars1 {
  background-color: rgb(242, 238, 238);
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap-reverse;
  height: 50px;
}

.bars1 details summary:hover {
  color: rgb(236, 16, 16);
}

.ch {
  background-color: white;
  flex-wrap: wrap-reverse;
  border: 0.5px;
  box-shadow: 2px 3px 5px black;
}

.parent {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  flex-wrap: wrap-reverse;
  display: grid;
  font-style: initial;
  grid-template-columns: repeat(6, auto);
}

.parent h3 {
  color: rgb(245, 164, 164);
}

.ch ul {
  color: rgb(91, 101, 112);
  line-height: 40px;
}

.son {
  background-color: white;
  flex-wrap: wrap-reverse;
  border: 0.5px;
  box-shadow: 2px 3px 5px black;
}

.papa {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 1350px;
  flex-wrap: wrap-reverse;
  display: grid;
  font-style: initial;
  grid-template-columns: repeat(5, auto);
}

.papa h3 {
  color: rgb(241, 196, 196);
}

.son ul {
  color: lightslategray;
  line-height: 40px;
}

.wo {
  background-color: white;
  flex-wrap: wrap-reverse;
  border: 0.5px;
  box-shadow: 2px 3px 5px black;
}

.wom {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 1350px;
  flex-wrap: wrap-reverse;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.wom h3 {
  color: rgb(241, 196, 196);
}

.wo ul {
  color: lightslategray;
  line-height: 40px;
}

.of {
  background-color: white;
  flex-wrap: wrap-reverse;
  border: 0.5px;
  box-shadow: 2px 3px 5px black;
}

.off {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 1350px;
  flex-wrap: wrap-reverse;
  display: grid;
  grid-template-columns: 200px 200px;
}

.off h3 {
  color: rgb(241, 196, 196);
}

.of ul {
  color: lightslategray;
  line-height: 40px;
}

.ab1 {
  background-color: white;
  flex-wrap: wrap-reverse;
  border: 0.5px;
  box-shadow: 2px 3px 5px black;
}

.ab {
  width: 1350px;
  flex-wrap: wrap-reverse;
  display: grid;
  position: absolute;
  top: 180px;
  left: 20px;
  grid-template-columns: 200px;
}

.ab1 ul {
  color: lightslategray;
  line-height: 40px;
}

/*...................grid responsive..........*/
@media screen and (max-width: 600px) {
  .parent {
    grid-template-columns: 200px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 250px;
  }
  .papa {
    grid-template-columns: 200px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 250px;
  }
  .wom {
    grid-template-columns: 200px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 250px;
  }
  .off {
    grid-template-columns: 200px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 250px;
  }
  .ab {
    grid-template-columns: 200px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 250px;
  }
}
/*......................web image..........*/
.web1 {
  align-items: center;
  padding: 60px;
  flex-wrap: wrap-reverse;
}

.web2 {
  margin-top: 50px;
  background-color: rgb(215, 227, 228);
  color: rgb(162, 19, 19);
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  width: 1200px;
  align-items: center;
  height: 500px;
  padding-left: 40px;
  flex-wrap: wrap-reverse;
}

h1 {
  text-decoration: none;
}

.our {
  line-height: 40px;
  font-size: 20px;
  position: relative;
  right: 100px;
}

/*..............responsive.img..........*/
@media screen and (max-width: 600px) {
  .web1 img {
    width: 100%;
    margin-left: -60px;
  }
  .web2 {
    display: none;
  }
}
/*................for image...............*/
.by {
  position: relative;
  top: 30px;
}

.for {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  margin-top: 50px;
}

h1:hover {
  color: blue;
}

/*..............responsive.img..........*/
@media screen and (max-width: 600px) {
  .for {
    width: 100%;
    position: relative;
    left: -25px;
  }
}
/*................mens image...............*/
.loun {
  position: relative;
  top: 50px;
}

.mens button:hover {
  background-color: rgb(245, 160, 160);
  color: blue;
  border-radius: 10px;
  flex-wrap: wrap-reverse;
}

.mens {
  background-color: rgb(253, 248, 248);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  padding: 50px;
  margin: 20px;
}

.mens img:hover {
  height: 310px;
  width: 310px;
}

.mens h2 {
  color: blueviolet;
  flex-wrap: wrap-reverse;
}

.mens h3 {
  color: rgb(197, 92, 92);
  flex-wrap: wrap-reverse;
}

.mens h4 {
  color: darkgreen;
}

.men1 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men2 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men3 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men4 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men5 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men6 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men7 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men8 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men9 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men10 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men11 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

.men12 {
  height: 520px;
  flex-wrap: wrap-reverse;
  width: 250px;
  box-shadow: 1px 1px 2px black;
  padding-right: 20px;
}

/*..............responsive.img..........*/
@media screen and (max-width: 600px) {
  .mens {
    width: 100%;
    position: relative;
    left: -25px;
  }
}
.head {
  flex-wrap: wrap-reverse;
  background-color: rgb(255, 247, 238);
  margin: 20px;
  height: 900px;
  position: relative;
  top: 50px;
}

input {
  font-size: 20px;
  background-color: black;
  color: white;
}

input:hover {
  background-color: white;
  padding: 10px;
}

/* img:hover{
        height: 400px; width: 320px}*/
/*..............responsive.img..........*/
@media screen and (max-width: 600px) {
  .head {
    width: 100%;
    position: relative;
    left: -25px;
  }
}
.cost {
  background-color: white;
  height: 400px;
  margin-top: 100px;
  flex-wrap: wrap-reverse;
}

.slide {
  display: flex;
  justify-content: space-evenly;
}

.slide1 {
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 2px 3px rgb(236, 233, 233);
  line-height: 20px;
  font-family: "Times New Roman", Times, serif;
}

.hope {
  position: relative;
  bottom: 100px;
}

@media screen and (max-width: 600px) {
  .cost {
    display: none;
  }
  .blog {
    display: none;
  }
  .head input {
    display: none;
  }
  .hope {
    display: none;
  }
}
.blog {
  background-color: rgb(250, 241, 230);
  border: 1px solid;
  margin-left: 20px;
  flex-wrap: wrap-reverse;
  height: 500px;
  padding-top: 50px;
}

.blog h1 {
  position: relative;
  bottom: 30px;
}

.blog1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

h1:hover {
  color: blue;
}

button {
  font-size: 20px;
  background-color: rgb(107, 95, 95);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/*..............responsive.img..........*/
@media screen and (max-width: 600px) {
  .blog1 {
    width: 100%;
    position: relative;
    left: -25px;
  }
}
.foot {
  padding-top: 20px;
  height: 900px;
  margin-top: 30px;
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  word-spacing: 5px;
  margin-left: 20px;
}

.foot h3 {
  padding-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 5px;
}

.place {
  position: relative;
  left: 450px;
  top: 20px;
}

.place input {
  background-color: white;
  color: black;
  text-decoration: none;
}

.place button {
  background-color: antiquewhite;
  color: black;
}

.foot1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 120px;
  line-height: 30px;
}

.what {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 20px;
}

.face i {
  color: white;
  font-size: 30px;
  gap: 50px;
}

.what ul li {
  text-decoration: underline;
  line-height: 25px;
}

@media screen and (max-width: 600px) {
  .foot {
    display: none;
  }
}/*# sourceMappingURL=shoes.css.map */